@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

/* Para especificar una font:
font-family: 'Baloo Chettan 2', cursive; // Tipo Comic sans.
font-family: 'Playfair Display', serif; // Tipo times new roman.
font-family: 'Roboto', sans-serif; // Tipo Arial.
*/

/* Pseudo-clases:
clase:hover {} // aplica a cualquier elemento el estilo definido al pasar el cursor por encima.
clase:focus {} // cuando un elemento tiene el foco del cursor (dentro del elemento), se usa en los form, input y textarea.
*/

/* Pseudo-elementos: // clase::condicion
clase::before {content:"texto"}
 */

/* 
Sintaxis general de CSS: https://cdn.discordapp.com/attachments/855464439540351002/868118961370320956/chaetsheet.jpg
selector #id .class :pseudoclase ::pseudoelemento [atributo] {
  propiedades: valor;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

header {
  background-color: cornflowerblue;
  align-items: stretch;
}

header div p {
  background-color: #eee8b6;
  color: rgb(14, 168, 14);
  text-align: center;
  border-style: groove;
  border-width: 0.1em;
  border-color: darkorchid;
  font-family: "Baloo Chettan 2", cursive;
}

.barra-superior {
  color: aqua;
}

nav ul {
  display: flex;
  margin: 1em;
  justify-content: flex-end;
}

nav ul li {
  margin: 1em;
}

nav ul li a {
  text-decoration: none;
  color: green;
}

footer {
  background-color: black;
  position: absolute; bottom: 0;
}