* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    
}

section {
    margin: ;
    text-align: center;
}

footer {
    background:blue;
    padding: 15px;
    text-align: center;
    color: white;
}