@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Roboto";
}

body main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.descuentos {
    background-color: #1cd1b0;
    font-size: 1.5rem;
}

.logo {
    display: flex;
    background-color: #00669f;
    color: white;
    font-size: 3rem;
    padding: 2.7rem;
}

.main-nav {
    text-align: right;
    background-color: black;
    color: white;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    font-size: 1.6rem;
}

.main-nav ul li {
    font-size: 1.6rem;
    margin: 1.1rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16.9rem 11.6rem;
    gap: 6rem;
}

.articulo {
    position: relative;
    background-color: #f3f3f3;
    width: 40rem;
    margin: 0 3rem;
    text-align: center;
    border-radius: 1rem;
}

.background {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 10rem;
    border-radius: 1rem 1rem 0 0;
}

.fas {
    position: absolute;
    font-size: 2.3rem;
    color: red;
    left: 1.5rem;
    top: 1.5rem;
}

.img-perfil {
    position: absolute;
    border-radius: 50%;
    height: 15rem;
    left: 50%;
    transform: translate(-50%, 0);
    top: 22rem;
    width: 15rem;
    object-fit: center top cover;
}

h2 {
    font-size: 3rem;
}

.articulo p {
    font-size: 1.6rem;
    text-align: left;
    margin: 0 1.5rem 3rem;
    height: 6rem;
}

.articulo input {  
    font-size: 1.5rem;
    width: 12.878rem;
    height: 4.852rem;
    background-color: #00669f;
    color: white;
    margin: 2rem auto;
}

.newarticle {
    display: flex;
    align-items: center;
}

.newarticle input {
    font-size: 6.2rem;
    color: #fff;
    background-color: #00669f;
    border-radius: 100%;
    height: 8.2rem;
    width: 8.2rem;
}

footer {
    background: #00669f;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    color: white;
}